[Unit]
Description=DevOpsFetch Monitoring Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/devopsfetch/devopsfetch.py --monitor
Restart=always
User=root

[Install]
WantedBy=multi-user.target
